{% extends "base.html" %}

{% block title %}View User{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">User Details</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td>{{ user.login }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ user.last_name or '' }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Middle Name</th>
                        <td>{{ user.middle_name or '' }}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>{{ user.role.name if user.role else '' }}</td>
                    </tr>
                </table>
                <div class="d-grid gap-2">
                    <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 